:root {
  --primary-color: #9356dc;
  --secondary-color: #ff79da;
  --tertiary-color: #99e2d0;
  --Background: #f6f6f6;
  --Button-Gradient: linear-gradient(180deg, #ff79da -11.44%, #9356dc 123.93%);
  --Button-Gradient-Over: linear-gradient(
    180deg,
    #ff79da -5.2%,
    #9356dc 110.74%
  );
}
